In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
json = {"formas": {"3": {"300": {"C": [{"result": "l", "confidence": "99.7918426990509"}, {"result": "l", "confidence": "99.93488192558289"}, {"result": "l", "confidence": "99.6771514415741"}, {"result": "l", "confidence": "99.70840811729431"}], "L": [{"result": "l", "confidence": "97.96609878540039"}, {"result": "i", "confidence": "54.73031401634216"}, {"result": "i", "confidence": "77.76991128921509"}, {"result": "i", "confidence": "99.90906715393066"}, {"result": "i", "confidence": "57.017356157302856"}, {"result": "i", "confidence": "99.25318360328674"}], "I": [{"result": "i", "confidence": "99.99767541885376"}, {"result": "i", "confidence": "99.99892711639404"}, {"result": "i", "confidence": "99.99868869781494"}, {"result": "i", "confidence": "99.99512434005737"}, {"result": "i", "confidence": "99.98871088027954"}, {"result": "i", "confidence": "99.998939037323"}, {"result": "i", "confidence": "99.99920129776001"}]}, "400": {"C": [{"result": "l", "confidence": "98.63470196723938"}, {"result": "l", "confidence": "98.65055680274963"}, {"result": "l", "confidence": "98.76118302345276"}, {"result": "i", "confidence": "89.76896405220032"}], "L": [{"result": "i", "confidence": "84.9324107170105"}, {"result": "i", "confidence": "71.70587182044983"}, {"result": "l", "confidence": "80.58302998542786"}, {"result": "l", "confidence": "89.38096165657043"}, {"result": "l", "confidence": "51.98996663093567"}, {"result": "i", "confidence": "99.95697140693665"}, {"result": "i", "confidence": "98.8224983215332"}], "I": [{"result": "i", "confidence": "99.99960660934448"}, {"result": "i", "confidence": "99.99746084213257"}, {"result": "i", "confidence": "99.98859167098999"}, {"result": "i", "confidence": "99.99812841415405"}, {"result": "i", "confidence": "99.99645948410034"}, {"result": "i", "confidence": "99.99587535858154"}]}}, "4": {"400": {"C": [], "L": [], "I": []}}}, "orientacion": {"300": {"0": [{"angulo_tronco": 97.45738590605335, "angulo_head": 133.03225994694213}], "10": [{"angulo_tronco": 65.33289016562036, "angulo_head": 135.7838697020144}], "20": [{"angulo_tronco": 72.85746721488108, "angulo_head": 143.93856713553757}], "30": [{"angulo_tronco": 65.49272614187171, "angulo_head": 141.99914900226767}], "40": [{"angulo_tronco": 64.1068617665411, "angulo_head": 144.32714874356594}], "50": [{"angulo_tronco": 62.36755310482253, "angulo_head": 129.376218748254}], "60": [{"angulo_tronco": 67.99851660304468, "angulo_head": 144.3677611466573}], "70": [{"angulo_tronco": 73.5039077874105, "angulo_head": 155.20945280649173}], "80": [{"angulo_tronco": 83.06481466029145, "angulo_head": 17.102624613654907}], "90": [{"angulo_tronco": 88.37627886446923, "angulo_head": 77.3384525298468}], "100": [{"angulo_tronco": 97.0310202210106, "angulo_head": 170.42503549636012}], "110": [{"angulo_tronco": 94.50248878298031, "angulo_head": 29.750341514888905}], "120": [{"angulo_tronco": 101.40770414898851, "angulo_head": 14.924933672751717}], "130": [{"angulo_tronco": 104.05208479034337, "angulo_head": 47.14347519235077}], "140": [{"angulo_tronco": 106.66663396649211, "angulo_head": 49.69345164197746}], "150": [{"angulo_tronco": 115.22705142583554, "angulo_head": 46.39078564884584}], "160": [{"angulo_tronco": 126.50635030932018, "angulo_head": 159.76382393769057}], "170": [{"angulo_tronco": 116.01740062148232, "angulo_head": 47.43450219511708}], "180": [{"angulo_tronco": 105.93655015196858, "angulo_head": 53.85337599849259}]}, "400": {"0": [{"angulo_tronco": 82.32961085363968, "angulo_head": 30.469703612250335}], "10": [{"angulo_tronco": 67.98784987347643, "angulo_head": 134.46777203040884}], "20": [{"angulo_tronco": 65.1027501440611, "angulo_head": 148.0506292394395}], "30": [{"angulo_tronco": 66.40600600773318, "angulo_head": 149.066465859792}], "40": [{"angulo_tronco": 66.99565861579664, "angulo_head": 154.11572223180954}], "50": [{"angulo_tronco": 72.94585969601746, "angulo_head": 1.013380196637374}], "60": [{"angulo_tronco": 83.17220203846665, "angulo_head": 130.97029969019135}], "70": [{"angulo_tronco": 82.52135761320504, "angulo_head": 172.21391688887368}], "80": [{"angulo_tronco": 75.18340478911396, "angulo_head": 31.16596021495322}], "90": [{"angulo_tronco": 93.17577355019975, "angulo_head": 52.557005970402344}], "100": [{"angulo_tronco": 98.61337505175602, "angulo_head": 168.4275750804444}], "110": [{"angulo_tronco": 99.10654666596345, "angulo_head": 86.76544932394032}], "120": [{"angulo_tronco": 103.9414448810582, "angulo_head": 166.87489563954813}], "130": [{"angulo_tronco": 108.84587283754828, "angulo_head": 25.166159262047593}], "140": [{"angulo_tronco": 109.68235209748708, "angulo_head": 55.71432105298378}], "150": [{"angulo_tronco": 111.86985351989311, "angulo_head": 38.453490555961885}], "160": [{"angulo_tronco": 114.7466831257684, "angulo_head": 33.346778674488334}], "170": [{"angulo_tronco": 109.63134632386154, "angulo_head": 45.042210444024}], "180": [{"angulo_tronco": 81.68628852549973, "angulo_head": 100.74344084856254}]}}, "centroide": {"200": [{"respuesta": 216.64250812899212}], "250": [{"respuesta": 259.14186005118916}], "300": [{"respuesta": 306.7895425149378}], "350": [{"respuesta": 342.6866045554458}], "400": [{"respuesta": 377.55594485443737}], "450": [{"respuesta": 415.0432703426194}], "500": [{"respuesta": 441.8115006335794}], "550": [{"respuesta": 477.67511753055794}], "600": [{"respuesta": 499.86630661311324}]}}

In [62]:
val_formas = json["formas"]

In [75]:
data = []
for key2, value2 in val_formas["3"]["300"].items():
    for i in value2:
        data.append([key2, i["result"], i["confidence"]])
df_formas_3_300 = pd.DataFrame(data, columns=["forma", "result", "confidence"])

data = []
for key2, value2 in val_formas["3"]["400"].items():
    for i in value2:
        data.append([key2, i["result"], i["confidence"]])
df_formas_3_400 = pd.DataFrame(data, columns=["forma", "result", "confidence"])

data = []
for key2, value2 in val_formas["4"]["400"].items():
    for i in value2:
        data.append([key2, i["result"], i["confidence"]])
df_formas_4_400 = pd.DataFrame(data, columns=["forma", "result", "confidence"])

In [77]:
val_formas["4"]["400"]

{'C': [], 'L': [], 'I': []}

In [72]:
df_formas_3_300

   forma result          confidence
0      C      l    99.7918426990509
1      C      l   99.93488192558289
2      C      l    99.6771514415741
3      C      l   99.70840811729431
4      L      l   97.96609878540039
5      L      i   54.73031401634216
6      L      i   77.76991128921509
7      L      i   99.90906715393066
8      L      i  57.017356157302856
9      L      i   99.25318360328674
10     I      i   99.99767541885376
11     I      i   99.99892711639404
12     I      i   99.99868869781494
13     I      i   99.99512434005737
14     I      i   99.98871088027954
15     I      i     99.998939037323
16     I      i   99.99920129776001

In [71]:
df_formas_3_400

   forma result         confidence
0      C      l  98.63470196723938
1      C      l  98.65055680274963
2      C      l  98.76118302345276
3      C      i  89.76896405220032
4      L      i   84.9324107170105
5      L      i  71.70587182044983
6      L      l  80.58302998542786
7      L      l  89.38096165657043
8      L      l  51.98996663093567
9      L      i  99.95697140693665
10     L      i   98.8224983215332
11     I      i  99.99960660934448
12     I      i  99.99746084213257
13     I      i  99.98859167098999
14     I      i  99.99812841415405
15     I      i  99.99645948410034
16     I      i  99.99587535858154

In [76]:
df_formas_4_400

Empty DataFrame
Columns: [forma, result, confidence]
Index: []

In [46]:
val_centroides = json["centroide"]

In [45]:
data = []

for key, value in val_centroides.items():
    data.append([key, value[0]["respuesta"]])

df_centroides = pd.DataFrame(data, columns=["centroide", "respuesta"])

In [47]:
df_centroides

  centroide   respuesta
0       200  216.642508
1       250  259.141860
2       300  306.789543
3       350  342.686605
4       400  377.555945
5       450  415.043270
6       500  441.811501
7       550  477.675118
8       600  499.866307

In [15]:
val_orientacion = json["orientacion"]

In [37]:
data = []

# crear un dataframe con las orientaciones
for key in val_orientacion["300"].keys():
    data.append({"angulo": key, "angulo_tronco": val_orientacion["300"][key][0]["angulo_tronco"]})#, "angulo_head": val_orientacion["300"][key][0]["angulo_head"]})

df_orientaciones_300 = pd.DataFrame(data)

data = []

# crear un dataframe con las orientaciones
for key in val_orientacion["400"].keys():
    data.append({"angulo": key, "angulo_tronco": val_orientacion["300"][key][0]["angulo_tronco"]})#, "angulo_head": val_orientacion["300"][key][0]["angulo_head"]})

df_orientaciones_400 = pd.DataFrame(data)

In [38]:
df_orientaciones_300

   angulo  angulo_tronco
0       0      97.457386
1      10      65.332890
2      20      72.857467
3      30      65.492726
4      40      64.106862
5      50      62.367553
6      60      67.998517
7      70      73.503908
8      80      83.064815
9      90      88.376279
10    100      97.031020
11    110      94.502489
12    120     101.407704
13    130     104.052085
14    140     106.666634
15    150     115.227051
16    160     126.506350
17    170     116.017401
18    180     105.936550

In [39]:
df_orientaciones_400

   angulo  angulo_tronco
0       0      97.457386
1      10      65.332890
2      20      72.857467
3      30      65.492726
4      40      64.106862
5      50      62.367553
6      60      67.998517
7      70      73.503908
8      80      83.064815
9      90      88.376279
10    100      97.031020
11    110      94.502489
12    120     101.407704
13    130     104.052085
14    140     106.666634
15    150     115.227051
16    160     126.506350
17    170     116.017401
18    180     105.936550